@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* shared style */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.flex{
    display: flex;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header style */

/* navbar style */
.brand{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.nav_links{
    gap: 30px;
}

/* banner style */
.banner, .navbar{
    max-width: 1140px;
    margin: 0 auto;
}
.banner img{
    margin-top: 30px;
    margin-bottom: 45px;
    width: 100%;
}
.banner_content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner_title{
    font-size: 4rem;
}
