@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* shared style */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.flex{
    display: flex;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary_btn{
    padding: 21px 24px 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
main > section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
/* header style */

/* navbar style */
.brand{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.nav_links{
    gap: 30px;
}

/* banner style */
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.banner img{
    margin-top: 30px;
    margin-bottom: 45px;
    width: 100%;
}
.banner_content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner_title{
    font-size: 4rem;
}


/* Team Section */
.teams{
    justify-content: center;
    align-items: center;
}
.team_images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team_features{
    width: 537px;
    margin-left: 73px;
}

/* team features title edit */

.section_title{
    font-size: 3rem;
}
.quick_list{
    font-weight: 400;
    color: #727272;
}
.off_our{
    font-weight: 700;
}
.team_features_color{
    font-weight: 700;
    color: #FF900E;
}
.section_desc{
    font-size: 1rem;
    margin-bottom: 32px;
}

/* facts Card style */
.facts_card_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 125px;
}
.facts_card{
    border:1px solid #FF900E;
    width: 242px;
    height: 242px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.facts_card_marks{
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}
.facts_card_title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #727272;
    margin-top: 10px;
}
.fact_desc{
    max-width: 540px;
    margin-bottom: 100px;
}

/* Sponsor Style */
.sponsdescwidth{
    max-width: 543px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 50px;
}
.sponsor_info{
    text-align: center;
}
.sponsor_images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.foot{
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 130px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
    .nav_links,
    .navbar,
    .teams{
        flex-direction: column;
    }
    .team_images{
        grid-template-columns: repeat(1,1fr);
    }
    .team_container{
        text-align: center;
    }
    .team_features{
        width: 100%;
        margin-left: 0px;
    }
    .facts_card_container{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-content: center;
    }
    .facts{
        text-align: center;
    }
    .facts_card{
        margin: 0 300px;
    }
    .sponsor_images{
        grid-template-columns: repeat(1,1fr);
        gap: 100px;
    }
    .sponsor_images{
        margin: 0 auto;
        width: 200px;
    }
}